.DashboardView {
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    overflow: hidden;
}

.DashboardView .titleBar {
    height: 60px;
    background: rgb(70, 70, 70);
    color: rgb(240, 245, 250);
    padding: 0px 20px;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    z-index: 2;
    flex-shrink: 0;
}

.DashboardView .titleBar h1 {
    margin: 0;
    font-size: 20pt;
    font-weight: normal;
}
  
.DashboardView .content {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    min-height: 0;
}
  
.DashboardView .leftPane {
    padding: 20px;
    overflow: auto;
    flex-shrink: 0;
}
  
.DashboardView .rightPane {
    flex-grow: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.DashboardView .controlsContainer {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 10px;

}

.DashboardView .controls-right, .DashboardView .controls-left {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.DashboardView .controls-right {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

.DashboardView .controls-right .button-outline:last-child {
    margin-left:10px;
}

.DashboardView .rightPane .controlsContainer {
    position:absolute;
    top:0px;
    padding: 20px;
    box-sizing:border-box;
}

.DashboardView .mapPlaceholder {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    font-weight: bold;
    color: rgb(180, 180, 180);
}

.DashboardView .mapPlaceholder .button {
    margin-top: 20px;
    text-transform: none;
    font-weight: normal;
}

.DashboardView .mapPlaceholder img {
    width: 150px;
}
