.searchBar {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.searchBarInput {
    border: none;
    border-bottom: 2px solid rgb(200, 200, 200);
    font-size: 12pt;
    padding: 7px 10px 7px 25px;
    display: inline-block;
    outline: none;
    margin-left: -20px;
    transition: border-bottom-color 0.3s;
    max-width: 150px;
}

.searchBarInput:focus {
    border-bottom: 2px solid rgb(119, 187, 255);
}

.searchBar img {
    width: 20px;
    height: 20px;
    z-index: 1;
    margin-left: 8px;
}
